.discount {
    // background-image: url(../img/discount-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 220px;
    padding-bottom: 91px;
}



.disc-btn {
    span {
        font-weight: 700;
    }
}